/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FDE88A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

/* Header styles */

header {
    background-color: #146894;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

    header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        header nav ul li {
            margin-right: 20px;
        }

            header nav ul li:last-child {
                margin-right: 0;
            }

            header nav ul li a {
                color: #fff;
                text-decoration: none;
            }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
    top: 42px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #146894;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-bottom: 33px;
    padding-left: 40px;
    padding-right: 40px;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    position: relative;
    text-decoration: none;
    display: flex;
    /* display: block; */
    background-color: #146894;
    width: 100%;
    top: 8px;
    align-items: center;
    justify-content: center;
}

    .dropdown-content a:hover {
        background-color: #3e658e;
    }

.logo {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

/* Main styles */

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

    section h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

article {
    width: 1000px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}

    article:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    article h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    article p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

.article-img {
    margin-bottom: 20px;
}

    .article-img img {
        max-width: 100%;
    }

.comments {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

    .comments h4 {
        font-size: 18px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }

.comment-list {
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 1;
}

    .comment-list li {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
        padding: 11px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

        .comment-list li:last-child {
            margin-bottom: 0;
        }

        .comment-list li .author {
            font-weight: bold;
            margin-right: 10px;
        }

        .comment-list li .timestamp {
            color: #999;
            font-size: 14px;
        }

.comment-form {
    padding: 10px;
}

    .comment-form label {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .comment-form input[type="text"],
    .comment-form textarea {
        display: block;
        width: 98%;
        padding: 10px;
        font-size: 16px;
        line-height: 1.5;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .comment-form button[type="submit"] {
        background-color: #146894;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

.likes {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

    .likes h4 {
        font-size: 18px;
        margin-right: 10px;
    }

.like-btn {
    background-color: transparent;
    color: #262626;
    border: none;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

    .like-btn:focus {
        outline: none;
    }

    .like-btn.liked {
        color: #ed4956;
        text-shadow: 0 0 5px #ed4956, 0 0 10px #ed4956, 0 0 20px #ed4956;
    }

    .like-btn:hover {
        color: #ed4956;
    }

    .fas {
        color: #ed4956;
    }

.like-count {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.like-btn i {
    font-size: 36px;
}

article {
    width: 1000px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}

    article:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    article h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    article p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

.article-img {
    margin-bottom: 20px;
}

    .article-img img {
        max-width: 100%;
    }

img {
    width: inherit;
}

#add-article-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Footer styles */

footer {
    background-color: #146894;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
